$font-color-welcome: #006B85;
$bg-color-circle: #006B85;
$font-color-anotherText: #9FC1CB;
$bg-color-triangle: #003852;
$bg-color-triangle-hover: #006B85;


$font-color-text-welcome:$font-color-welcome;
